DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=ecommerce
RABBITMQ_PASSWORD=ecommerce

JWT_SECRET=change-me-to-a-long-random-secret-at-least-256-bits
JWT_EXPIRATION_MS=86400000

EUREKA_URI=http://localhost:8761/eureka
EUREKA_ENABLED=false
